In [93]:
import pandas as pd
from itertools import chain
import glob
import numpy as np
file = pd.concat([pd.read_csv(f, index_col=None,header=None) for f in glob.glob('C:\\Users\\User\\Documents\\datasets\\fin*.csv')])
file2  = pd.concat([pd.read_csv(f, index_col=None,header=None) for f in glob.glob('C:\\Users\\User\\Documents\\datasets\\final*.csv')])
file3  = pd.concat([pd.read_csv(f, index_col=None,header=None) for f in glob.glob('C:\\Users\\User\\Documents\\datasets\\leak*.csv')])
file4 = pd.read_csv('C:\\Users\\User\\Documents\\datasets\\fin100.csv')
file_full = pd.concat([file,file2,file3,file4])

In [94]:
df = pd.DataFrame(file_full[file_full.columns[0:]].apply(lambda x: ' '.join(x.astype(str)),axis=1))
df = pd.DataFrame(df[0].str.replace('date','dateday'))
#split each fight into a separate column
df_split = pd.DataFrame(df[0].str.split('date',expand=True))
def func(df,col):
    return df[col].str.extract('day(?P<day>.*?)firstBoxerRating(?P<firstBoxerRating>.*?)firstBoxerWeight(?P<firstBoxerWeight>.*?)judges(?P<JudgeID>.*?)links(?P<Links>.*?)location(?P<location>.*?)metadata(?P<metadata>.*?)numberOfRounds(?P<numberofrounds>.*?)outcome(?P<outcome>.*?)rating(?P<rating>.*?)referee(?P<referee>.*?)secondBoxer(?P<secondBoxer>.*?)secondBoxerLast6(?P<secondBoxerLast6>.*?)secondBoxerRating(?P<secondBoxerRating>.*?)secondBoxerRecord(?P<secondBoxerRecord>.*?)secondBoxerWeight(?P<secondBoxerWeight>.*?)titles(?P<titles>.*?){')
for i in range(1,len(df_split.columns)-1):
    df_split[['date'+str(i), 'firstBoxerRating'+str(i), 'firstBoxerWeight'+str(i), 'JudgeID'+str(i), 'Links'+str(i),
       'location'+str(i), 'metadata'+str(i), 'numberofrounds'+str(i), 'outcome'+str(i), 'rating'+str(i),
       'referee'+str(i), 'secondBoxer'+str(i), 'secondBoxerLast6'+str(i), 'secondBoxerRating'+str(i),
       'secondBoxerRecord'+str(i), 'secondBoxerWeight'+str(i), 'titles'+str(i)]] = func(df_split,i)

In [95]:
titles = ['titles'+str(i) for i in range(1,85)]
masked = df_split[titles].astype(str)
df_split['global_id']=masked.apply(','.join,axis=1).str.extract(r'(\d{6})', expand = False).fillna('')
# df_split['global_id'] = masked.apply(','.join,axis=1).str.extract(r'(\d{4})', expand = False).fillna('')

In [96]:
#get name,global id and other details and merge with dataset
new_file = pd.read_csv("C:\\Users\\User\\Documents\\GitHub\\SpringboardCapstoneBoxingPredictionWebApp\\boxingdata\\df2.csv")
new_file['global_id'] = new_file.players_links.str.extract('(\d+)')
new_file['global_id'] = new_file.global_id.astype('float64')
df_split['global_id'] = pd.to_numeric(df_split['global_id'])

In [114]:
merged = pd.merge(new_file, df_split, how='outer', on='global_id')
merged.drop_duplicates(subset='global_id',inplace=True)

In [115]:
#cleaning up data
def date_clean(date_col):
    x = merged[date_col].str.replace('[":]','')
    return pd.to_datetime(x,errors='coerce')
#create list of column names we want to iterate through
def list_var(col_name):
    return [col_name+str(i) for i in range(1,85)]
#update date columns
var_names = list_var('date')
for i in var_names:
    merged[i] = date_clean(i)

In [116]:
#cleanup first boxer rating
def remove_colon(col_name):
    return merged[col_name].str.replace(':','')
#weights need to be converted to float
def firstweight(col_name):
    a = remove_colon(col_name)
    return pd.to_numeric(a,errors='coerce')
#extract scorecard from judges column
def score_card(col_name):
    return merged[col_name].str.findall('scorecard:(?P<scorecards>.*?)}')
#update first boxer rating columns
boxer_var = list_var('firstBoxerRating')
for i in boxer_var:
    merged[i] = remove_colon(i)
#update weight
weight_var = list_var('firstBoxerWeight')
for i in weight_var:
    merged[i] = firstweight(i)
#extract score card
scorecard_var = list_var('JudgeID')
for i in scorecard_var:
    merged[i] = score_card(i)
#update location
location_var = list_var('location')
for i in location_var:
    merged[i] = remove_colon(i)
#update num of rounds
rounds_var = list_var('numberofrounds')
for i in rounds_var:
    merged[i] = remove_colon(i)
#update outcome
outcome_var = list_var('outcome')
for i in outcome_var:
    merged[i] = remove_colon(i)
#update rating
rating_var = list_var('rating')
for i in rating_var:
    merged[i] = remove_colon(i)

In [131]:
#function creates errors so trying for loop instead
ref_outcome = list_var('referee')
for i in ref_outcome:
    merged[i] = merged[i].str.findall('result:(?P<result>.*?)]')

In [132]:
secondboxer_var = list_var('secondBoxer')
for i in secondboxer_var:
    merged[i] = merged[i].str.extract('name:(?P<name>.*?)}')
secondboxlast_var = list_var('secondBoxerLast6')
for i in secondboxlast_var:
    merged[i] = remove_colon(i)
secondboxrate_var = list_var('secondBoxerRating')
for i in secondboxrate_var:
    merged[i] = remove_colon(i)
secondboxrec_var = list_var('secondBoxerRecord')
for i in secondboxrec_var:
    merged[i] = remove_colon(i)
secondboxweight_var = list_var('secondBoxerWeight')
for i in secondboxweight_var:
    merged[i] = firstweight(i)

In [133]:
#extract time from metadata
def split_time(col):
    return merged[col].str.extract('(\d*\:\d+)',expand=True)
times = list_var('metadata')
for i in times:
    merged[i] = split_time(i)

In [134]:
drop_cols = list(range(0,86))
merged.drop(drop_cols,axis=1,inplace=True)

In [40]:
# create columns with counts of outcomes from referee
# ref_outcomes = list_var('referee')
# merged2 = pd.concat([merged,merged[ref_outcome].astype(str).stack().str.replace('\[|\"','').str.extract('(\w+\s\w+)').groupby(level=0)[0].apply(pd.Series.value_counts).unstack(fill_value=0)],axis=1)

In [137]:
merged.to_csv('C:\\Users\\User\\Documents\\finalvisuals.csv')

In [144]:
path="C:\\Users\\User\\Documents\\GitHub\\SpringboardCapstoneBoxingPredictionWebApp\\boxingdata\\visuals.csv"
path_two= "C:\\Users\\User\\Documents\\finalvisuals.csv"

In [145]:
a = pd.read_csv(path)
b = pd.read_csv(path_two)

C:\Users\User\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (683,686,703,720,737,745,746,748,749,750,751,752,753,754,755,756,757,758,759,761,762,763,765,766,767,768,769,770,771,772,773,774,775,776,778,779,780,782,783,784,785,786,787,788,789,790,791,792,793,795,796,797,799,800,801,802,803,804,805,806,807,808,809,810,812,813,814,816,817,818,819,820,821,822,823,824,825,826,827,829,830,831,833,834,835,836,837,838,839,840,841,842,843,844,846,847,848,850,851,852,853,854,855,856,857,858,859,860,861,863,864,865,867,868,869,870,871,872,873,874,875,876,877,878,880,881,882,884,885,886,887,888,889,890,891,892,893,894,895,897,898,899,901,902,903,904,905,906,907,908,909,910,911,912,914,915,916,918,919,920,921,922,923,924,925,926,927,928,929,931,932,933,935,936,937,938,939,940,941,942,943,944,945,946,948,949,950,952,953,954,955,956,957,958,959,960,961,962,963,965,966,967,969,970,971,972,973,974,975,976,977,978,979,980,982,983,984,986,987,988,989,990,991,992,993,994,995,996,997,999,1000,1001,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1016,1017,1018,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1033,1034,1035,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1050,1051,1052,1054,1055,1056,1057,1058,1059,1061,1062,1063,1064,1065,1067,1068,1069,1071,1072,1073,1075,1076,1078,1079,1080,1081,1082,1084,1085,1086,1088,1089,1090,1092,1093,1095,1096,1097,1098,1099,1101,1102,1103,1105,1106,1107,1109,1110,1112,1113,1114,1115,1116,1118,1119,1120,1122,1123,1124,1126,1127,1129,1130,1131,1132,1133,1135,1136,1137,1139,1140,1141,1142,1143,1144,1146,1147,1148,1149,1150,1152,1153,1154,1156,1157,1158,1160,1161,1163,1164,1165,1166,1167,1169,1170,1171,1173,1174,1175,1176,1177,1178,1180,1181,1182,1183,1184,1186,1187,1188,1190,1191,1192,1193,1194,1195,1197,1198,1199,1200,1201,1203,1204,1205,1207,1208,1209,1211,1212,1214,1215,1216,1217,1218,1220,1221,1222,1224,1225,1226,1227,1228,1229,1231,1232,1233,1234,1235,1237,1238,1239,1241,1242,1243,1244,1245,1246,1248,1249,1250,1251,1252,1254,1255,1256,1258,1259,1260,1262,1263,1265,1266,1267,1268,1269,1271,1272,1273,1275,1276,1277,1279,1280,1282,1283,1284,1285,1286,1288) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [159]:
viz =pd.concat([a,c],axis=0)
viz.to_csv('C:\\Users\\User\\Documents\\viz.csv')

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [149]:
a

,Unnamed: 0,Unnamed: 0.1,miles,location,name,sex,w,l,d,division,...,numberofrounds99,outcome99,rating99,referee99,secondBoxer99,secondBoxerLast699,secondBoxerRating99,secondBoxerRecord99,secondBoxerWeight99,titles99
0,0,0,0.0,USA,Roberto Salas,male,5.0,0.0,0.0,cruiser,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3,0.0,USA,James Jackson,male,4.0,0.0,1.0,heavy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,6,0.0,USA,Alex Love,female,3.0,0.0,0.0,bantam,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,9,0.0,USA,Juan Centeno,male,4.0,3.0,1.0,fly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,12,0.0,USA,Jordan Weeks,male,2.0,0.0,0.0,super middle,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3872,3872,12368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3873,3873,12369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3874,3874,12370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3875,3875,12371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3876,3876,12372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [154]:
c= b[b['name'] == 'Tyson Fury']
c

,Unnamed: 0,Unnamed: 0.1,miles,location,name,sex,w,l,d,division,...,numberofrounds99,outcome99,rating99,referee99,secondBoxer99,secondBoxerLast699,secondBoxerRating99,secondBoxerRecord99,secondBoxerWeight99,titles99
3842,3842,10735,NaN,"UK, Manchester Lancashire",Tyson Fury,male,29.0,0.0,1.0,heavy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN