In [97]:
import pandas as pd
from itertools import chain
import glob
import numpy as np
file = pd.concat([pd.read_csv(f, index_col=None,header=None) for f in glob.glob('C:\\Users\\User\\Documents\\datasets\\fin*.csv')])
file2  = pd.concat([pd.read_csv(f, index_col=None,header=None) for f in glob.glob('C:\\Users\\User\\Documents\\datasets\\final*.csv')])
file_full = pd.concat([file,file2])

In [98]:
#select columns of interest
# ax = boxing[boxing.columns[-3225:]]

In [99]:
df = pd.DataFrame(file_full[file_full.columns[0:]].apply(lambda x: ' '.join(x.astype(str)),axis=1))
df = pd.DataFrame(df[0].str.replace('date','dateday'))
#split each fight into a separate column
df_split = pd.DataFrame(df[0].str.split('date',expand=True))
def func(df,col):
    return df[col].str.extract('day(?P<day>.*?)firstBoxerRating(?P<firstBoxerRating>.*?)firstBoxerWeight(?P<firstBoxerWeight>.*?)judges(?P<JudgeID>.*?)links(?P<Links>.*?)location(?P<location>.*?)metadata(?P<metadata>.*?)numberOfRounds(?P<numberofrounds>.*?)outcome(?P<outcome>.*?)rating(?P<rating>.*?)referee(?P<referee>.*?)secondBoxer(?P<secondBoxer>.*?)secondBoxerLast6(?P<secondBoxerLast6>.*?)secondBoxerRating(?P<secondBoxerRating>.*?)secondBoxerRecord(?P<secondBoxerRecord>.*?)secondBoxerWeight(?P<secondBoxerWeight>.*?)titles(?P<titles>.*?){')
for i in range(1,len(df_split.columns)-1):
    df_split[['date'+str(i), 'firstBoxerRating'+str(i), 'firstBoxerWeight'+str(i), 'JudgeID'+str(i), 'Links'+str(i),
       'location'+str(i), 'metadata'+str(i), 'numberofrounds'+str(i), 'outcome'+str(i), 'rating'+str(i),
       'referee'+str(i), 'secondBoxer'+str(i), 'secondBoxerLast6'+str(i), 'secondBoxerRating'+str(i),
       'secondBoxerRecord'+str(i), 'secondBoxerWeight'+str(i), 'titles'+str(i)]] = func(df_split,i)

In [100]:
titles = ['titles'+str(i) for i in range(1,85)]
masked = df_split[titles].astype(str)
df_split['global_id']=masked.apply(','.join,axis=1).str.extract(r'(\d{6})', expand = False).fillna('')
# df_split['global_id'] = masked.apply(','.join,axis=1).str.extract(r'(\d{4})', expand = False).fillna('')

In [101]:
new_file = pd.read_csv("C:\\Users\\User\\Documents\\datasets\\df2.csv")
new_file['global_id'] = new_file.players_links.str.extract('(\d+)')
new_file['global_id'] = new_file.global_id.astype('float64')
df_split['global_id'] = pd.to_numeric(df_split['global_id'])

In [114]:
merged = pd.merge(new_file, df_split, how='outer', on='global_id')
merged.drop_duplicates(subset='global_id',inplace=True)

In [103]:
#cleaning up data
def date_clean(date_col):
    x = merged[date_col].str.replace('[":]','')
    return pd.to_datetime(x,errors='coerce')
#create list of column names we want to iterate through
def list_var(col_name):
    return [col_name+str(i) for i in range(1,85)]
#update date columns
var_names = list_var('date')
for i in var_names:
    merged[i] = date_clean(i)

In [104]:
#cleanup first boxer rating
def remove_colon(col_name):
    return merged[col_name].str.replace(':','')
#weights need to be converted to float
def firstweight(col_name):
    a = remove_colon(col_name)
    return pd.to_numeric(a,errors='coerce')
#extract scorecard from judges column
def score_card(col_name):
    return merged[col_name].str.findall('scorecard:(?P<scorecards>.*?)}')
#update first boxer rating columns
boxer_var = list_var('firstBoxerRating')
for i in boxer_var:
    merged[i] = remove_colon(i)
#update weight
weight_var = list_var('firstBoxerWeight')
for i in weight_var:
    merged[i] = firstweight(i)
#extract score card
scorecard_var = list_var('JudgeID')
for i in scorecard_var:
    merged[i] = score_card(i)
#update location
location_var = list_var('location')
for i in location_var:
    merged[i] = remove_colon(i)
#update num of rounds
rounds_var = list_var('numberofrounds')
for i in rounds_var:
    merged[i] = remove_colon(i)
#update outcome
outcome_var = list_var('outcome')
for i in outcome_var:
    merged[i] = remove_colon(i)
#update rating
rating_var = list_var('rating')
for i in rating_var:
    merged[i] = remove_colon(i)

In [105]:
#function creates errors so trying for loop instead
ref_outcome = list_var('referee')
for i in ref_outcome:
    merged[i] = merged[i].str.findall('result:(?P<result>.*?)]')

In [106]:
secondboxer_var = list_var('secondBoxer')
for i in secondboxer_var:
    merged[i] = merged[i].str.extract('name:(?P<name>.*?)}')
secondboxlast_var = list_var('secondBoxerLast6')
for i in secondboxlast_var:
    merged[i] = remove_colon(i)
secondboxrate_var = list_var('secondBoxerRating')
for i in secondboxrate_var:
    merged[i] = remove_colon(i)
secondboxrec_var = list_var('secondBoxerRecord')
for i in secondboxrec_var:
    merged[i] = remove_colon(i)
secondboxweight_var = list_var('secondBoxerWeight')
for i in secondboxweight_var:
    merged[i] = firstweight(i)

In [143]:
#extract time from metadata
def split_time(col):
    return merged[col].str.extract('(\d*\:\d+)',expand=True)
time_list = list_var('metadata')
for i in time_list:
    merged[i] = split_time(i)

In [164]:
drop_cols = list(range(0,86))
merged.drop(drop_cols,axis=1,inplace=True)

In [170]:
merged.drop(['level_0','miles'],axis=1,inplace=True)

In [216]:
# create columns with counts of outcomes from referee
ref_outcomes = list_var('referee')
merged2 = pd.concat([merged,merged[ref_outcome].astype(str).stack().str.replace('\[|\"','').str.extract('(\w+\s\w+)').groupby(level=0)[0].apply(pd.Series.value_counts).unstack(fill_value=0)],axis=1)

,index,location,name,sex,w,l,d,division,from,to,...,win DQ,win KO,win MD,win PTS,win RTD,win SD,win TD,win TKO,win UD,win nan
86,258,"USA, North Carolina, Wilson",Chante Bowens,male,0.0,4.0,0.0,feather,2018.0,2019.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
87,261,"USA, North Carolina, Wilson",Paris Liles,male,0.0,1.0,0.0,heavy,2019.0,2019.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88,264,"USA, North Carolina, Wilson",Jerome Woods,male,0.0,2.0,0.0,super middle,2019.0,2019.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
89,267,"USA, North Carolina, Wilson",Tjuan Wooten,male,0.0,1.0,0.0,light,2019.0,2019.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90,270,"USA, North Carolina, Wilson",Travoris Lofton,male,0.0,1.0,0.0,cruiser,2019.0,2019.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,10116,"USA, Hawaii, Molokai",Kawelo Alcos,male,2.0,0.0,2.0,light fly,2017.0,2019.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3841,10118,"USA, Hawaii, Honolulu",Logan Yoon,male,16.0,0.0,0.0,welter,2016.0,2019.0,...,0.0,2.0,0.0,0.0,1.0,0.0,0.0,9.0,4.0,0.0
3842,10120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3843,11240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,0.0
3844,11246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,4.0,0.0,3.0,2.0,0.0,8.0,26.0,0.0

In [218]:
#extract scorecards

,index,location,name,sex,w,l,d,division,from,to,...,numberofrounds84,outcome84,rating84,referee84,secondBoxer84,secondBoxerLast684,secondBoxerRating84,secondBoxerRecord84,secondBoxerWeight84,titles84
86,258,"USA, North Carolina, Wilson",Chante Bowens,male,0.0,4.0,0.0,feather,2018.0,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,261,"USA, North Carolina, Wilson",Paris Liles,male,0.0,1.0,0.0,heavy,2019.0,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,264,"USA, North Carolina, Wilson",Jerome Woods,male,0.0,2.0,0.0,super middle,2019.0,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,267,"USA, North Carolina, Wilson",Tjuan Wooten,male,0.0,1.0,0.0,light,2019.0,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,270,"USA, North Carolina, Wilson",Travoris Lofton,male,0.0,1.0,0.0,cruiser,2019.0,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840,10116,"USA, Hawaii, Molokai",Kawelo Alcos,male,2.0,0.0,2.0,light fly,2017.0,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3841,10118,"USA, Hawaii, Honolulu",Logan Yoon,male,16.0,0.0,0.0,welter,2016.0,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3842,10120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3843,11240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3844,11246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
merged.drop(['players_links'],axis=1,inplace=True)

In [ ]:
outcomes = list_var('outcome')
#remove quotation marks from outcomes column
merged[outcomes] = merged[outcomes].astype('str').apply(lambda s:s.str.replace('"', ""))

In [ ]:
a = merged[merged['name'] == 'Deontay Wilder']
file

In [ ]:
df_split

In [ ]:
# x = df_split[df_split['global_id'] == 0]
# x.iloc[2].to_dict()
file_full

In [ ]:
merged[outcomes].astype('str').unstack()
# .str.replace('\[|\"','').str.extract('(\w+\s\w+)').groupby(level=0)[0].apply(pd.Series.value_counts).unstack(fill_value=0)

In [ ]:
#extract outcomes from data in judge column and merge with original dataset
enriched_data2 = pd.concat([enriched_data,enriched_data[ref_outcome].astype(str).stack().str.replace('\[|\"','').str.extract('(\w+\s\w+)').groupby(level=0)[0].apply(pd.Series.value_counts).unstack(fill_value=0)],axis=1)

In [ ]:
enriched_data2.drop_duplicates(subset=['name','global_id'],keep='first',inplace= True)

In [ ]:
enriched_data2 = enriched_data2.rename(columns={'3':'city','4':'state/country'})

In [ ]:
#joining with other data
player_profile = pd.read_csv("C:\\Users\\User\\Documents\\datasets\\player_profile.csv")
player_profile.drop_duplicates(subset=['Name'],keep='first',inplace= True)

In [ ]:
ppcols = player_profile[['stance','nationality','debut','Name','status','age','height','residence','KOs']]

In [ ]:
#more cleanup, extracting judge's scorecards
def judge_scores(col_name):
    return enriched_data2.JudgeID2.apply(pd.Series)
col_names = list(chain.from_iterable(('first'+str(i),'second'+str(i),'third'+str(i)) for i in range(1,80)))
score_vars = list_var('JudgeID')
for i in score_vars:
    for x,y,z in zip(*[iter(col_names)]*3):
        enriched_data2[[x,y,z]] = judge_scores(i)

In [ ]:
test = enriched_data2.merge(ppcols, how='left',left_on='name',right_on='Name')

In [ ]:
test.to_csv('C:\\Users\\User\\Documents\\enriched_data.csv')

In [ ]:
list(test)

In [ ]:
def judge_scores(col_name):
    return enriched_data.JudgeID2.apply(pd.Series)
col_names = list(chain.from_iterable(('first'+str(i),'second'+str(i),'third'+str(i)) for i in range(1,80)))
score_vars = list_var('JudgeID')
for i in score_vars:
    for x,y,z in zip(*[iter(col_names)]*3):
        enriched_data[[x,y,z]] = judge_scores(i)

In [ ]:
# enriched_data['JudgeID2'].values.tolist()
b = pd.DataFrame(a.JudgeID2)
enriched_data.JudgeID2.apply(pd.Series)

In [ ]:
import numpy as np
test['JudgeID2'].apply(np.ravel)

In [ ]:
a  = test['JudgeID2'][3]

In [ ]:
for i in a:
    print(i)

In [ ]:
a = pd.DataFrame(test.JudgeID2.head())

In [ ]:
pd.DataFrame(([c[0] for c in r] for r in a.JudgeID2.tolist()))

In [ ]:
pd.Series([x for _list in a.JudgeID2 for x in _list])

In [ ]:
a

In [ ]:
df = pd.DataFrame(a.explode('JudgeID2')).reset_index()
df.pivot_table(columns='index',values='JudgeID2',aggfunc='first')

In [ ]:
a[['team1','team2','team3']] = pd.DataFrame(a.JudgeID2.values.tolist())

In [ ]:
a